﻿<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content">
                <h2>Dashboard</h2>
                <p>You are logged in as Carestore Marketplace Administrator</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 small-12 small-centered columns box-wraper">
            <ul class="large-block-grid-5 medium-block-grid-2 small-block-grid-1">
                <li>
                    <a href="@Url.Action("Index", "Applications", null)" class="box-item">
                        <div class="box-item-header"><div class="sprite-app-icon"></div></div>
                        <div class="box-item-content"><h2>App</h2><p>120 so far</p></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Drivers", null)" class="box-item">
                        <div class="box-item-header"><div class="sprite-driver-icon"></div></div>
                        <div class="box-item-content"><h2>Driver</h2><p>882 wow, this is a lot</p></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Devices", null)" class="box-item">
                        <div class="box-item-header"><div class="sprite-device-icon"></div></div>
                        <div class="box-item-content"><h2>Device</h2><p>45 and this is not bad</p></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Vendors", null)" class="box-item">
                        <div class="box-item-header"><div class="sprite-vendor-icon"></div></div>
                        <div class="box-item-content"><h2>Vendor</h2><p>14 and more every day</p></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
