﻿@using Microsoft.AspNet.Identity
@{

    string user_id = User.Identity.GetUserId();

}
<div class="nav-admin-wraper">
    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
             
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="active"><a href="@Url.Action("Index", "Home", null)">DASHBOARD</a></li>
                    <li class=""><a href="@Url.Action("Index", "Organizations", null)">ORGANIZATIONS</a></li>
                    <li class=""><a href="@Url.Action("VendorsUsers", "Account", null)">USERS</a></li>
                    <li class=""><a href="@Url.Action("AdminIndex", "Platforms", null)">PLATFORMS</a></li>
                    <li class=""><a href="@Url.Action("Index", "Vendors", null)">VENDORS</a></li>
                    <li class=""><a href="@Url.Action("Index", "Devices", null)">DEVICES</a></li>
                    <li class=""><a href="@Url.Action("Index", "Drivers", null)">DRIVERS</a></li>
                    <li class=""><a href="@Url.Action("Index", "Applications", null)">APPLICATIONS</a></li>
                    <li class=""><a href="@Url.Action("Index", "Pages", null)">PAGES</a></li>
                    <li class=""><a href="@Url.Action("Edit", "Account", new { id = @user_id })">PROFILE</a></li>
                </ul>
            </section>
        </nav>
    </div>
</div>


