﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CareStore Marketplace</title>
    <link  rel="icon" href="images/favicon.ico" type="image/ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    @Html.Partial("_LoginPartial")

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

        if(User.IsInRole("Admin")){

            @Html.Partial("_AdminMenu")
        }else if(User.IsInRole("Vendor")){

            @Html.Partial("_VendorMenu")
        }
        else if (User.IsInRole("Care Administrator"))
        {

            @Html.Partial("_ManagerMenu")
        }


         @RenderBody()
        
}
else
{

        @RenderBody()

}   

    <footer class="footer-wraper wraper">
        <div class="row">
            <div class="medium-4 columns">
                <h3>For Vendors</h3>
                <ul class="no-bullet">
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "help" })">Help Center</a></li>
                </ul>
            </div>
            <div class="medium-4 columns">
                <h3>CareStore</h3>
                <ul class="no-bullet">
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "about" })">About Marketplace</a></li>
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "media" })">For Media</a></li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="medium-4 columns">
                <h3>Join Us</h3>
                <ul class="inline-list">
                    <li><a href=""><div class="sprite-fb-icon"></div></a></li>
                    <li><a href=""><div class="sprite-google-icon"></div></a></li>
                    <li><a href=""><div class="sprite-twiter-icon"></div></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="medium-4 columns"><p>Carestore. @DateTime.Now.Year. Copyrights</p></div>
            <div class="medium-4 columns"><p>The Project is co-funded by EU's Seventh Framework Programme</p></div>
            <div class="medium-4 columns">
                <ul class="inline-list">
                    <li><a href="http://ec.europa.eu/"><div class="sprite-eu-icon"></div></a></li>
                    <li><a href="http://ec.europa.eu/research/fp7"><div class="sprite-seventh-icon"></div></a></li>
                </ul>
            </div>
        </div>
    </footer>

  

    <script src="~/Scripts/bower_components/foundation/js/foundation.min.js"></script>
    <script src="~/Scripts/vendor/jquery.multi-select.js"></script>
    <script src="~/Scripts/vendor/jquery.quicksearch.js"></script>
    <script src="~/Scripts/vendor/idangerous.swiper.js"></script>
    <script src="~/Scripts/vendor/icheck.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/myapp.js"></script>
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</body>
</html>
