﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()


    
    
    
    <header class="header-wraper">
    <div class="row">
      <div class="medium-7 small-12 columns">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class = "carestore-logo" })
      </div>
      <div class="medium-5 small-12 columns">
          <div class="user-panel">
              <a href="@Url.Action("Manage", "Account", null)"><img class="profil-photo" src="~/images/profil-img.png" alt=""></a>
              <p>Hi <strong>@Html.ActionLink(User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
</strong> | <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></p>
          </div>
      </div>      
    </div>
  </header>
    
    
    }
    
    
    
    
}
else
{
    <header class="header-wraper">
        <div class="row">
            <div class="large-5 columns">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "carestore-logo" })
            </div>
            <div class="large-offset-2 large-5 columns">
                <div class="row search-bar">
                     
                </div>
            </div>
        </div>
    </header>
}
