﻿@using Microsoft.AspNet.Identity
@{
    
    string user_id = User.Identity.GetUserId();
    
}
<div class="nav-admin-wraper">
    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class=""><a href="#">HELP CENTER</a></li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="active"><a href="@Url.Action("Index", "Home", null)">DASHBOARD</a></li>
                    <li class=""><a href="@Url.Action("CitizensList", "Account", new { id = @user_id })">CITIZENS</a></li>
                    <li class=""><a href="@Url.Action("CaregiversList", "Account", new { id = @user_id })">CARE GIVERS</a></li>
                    <li class=""><a href="@Url.Action("Index", "Areas", new { id = @user_id })">AREAS</a></li>
                    <li class=""><a href="@Url.Action("Index", "Platforms", new { id = @user_id })">PLATFORMS</a></li>
                    <li class=""><a href="@Url.Action("ManagerUpdate", "Organizations", new { id = @user_id })">ORGANIZATION</a></li>
                    <li class=""><a href="@Url.Action("Edit", "Account", new { id = @user_id })">USER PROFILE</a></li>
                </ul>
            </section>
        </nav>
    </div>
</div>
