﻿@using Microsoft.AspNet.Identity
@{

    string user_id = User.Identity.GetUserId();

}
<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content">
                <h2>Dashboard</h2>
                <p>You are logged in as Carestore Marketplace Vendor</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 small-12 small-centered columns box-wraper">
            <ul class="large-block-grid-5 medium-block-grid-2 small-block-grid-1">
                <li>
                    <a href="@Url.Action("VendorIndex", "Applications", new { id = @user_id })" class="box-item">
                        <div class="box-item-header"><div class="sprite-app-icon"></div></div>
                        <div class="box-item-content"><h2>My Apps</h2><p></p></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("VendorIndex", "Drivers", new { id = @user_id })" class="box-item">
                        <div class="box-item-header"><div class="sprite-driver-icon"></div></div>
                        <div class="box-item-content"><h2>My Drivers</h2><p></p></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("VendorIndex", "Devices", new { id = @user_id })" class="box-item">
                        <div class="box-item-header"><div class="sprite-device-icon"></div></div>
                        <div class="box-item-content"><h2>My Devices</h2><p></p></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
