﻿@using Microsoft.AspNet.Identity
@{
    
    string user_id = User.Identity.GetUserId();
    
}
<div class="nav-admin-wraper">
    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class=""><a href="#">HELP CENTER</a></li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="active"><a href="@Url.Action("Index", "Home", null)">DASHBOARD</a></li>
                    <li class=""><a href="@Url.Action("Edit", "Account", new { id = @user_id })">USER PROFILE</a></li>
                    <li class=""><a href="@Url.Action("VendorUpdate", "Vendors", new { id = @user_id })">VENDOR PROFILE</a></li>
                    <li class=""><a href="@Url.Action("VendorIndex", "Devices", new { id = @user_id })">MY DEVICES</a></li>
                    <li class=""><a href="@Url.Action("VendorIndex", "Drivers", new { id = @user_id })">MY DRIVERS</a></li>
                    <li class=""><a href="@Url.Action("VendorIndex", "Applications", new { id = @user_id })">MY APPLICATIONS</a></li>
                </ul>
            </section>
        </nav>
    </div>
</div>
