﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content">
                <h2>Error.</h2>
                <p>An error occurred while processing your request.</p>
            </div>
        </div>
    </div>
</div>


