﻿@model CSMarketplace.Models.AreaNode

@Model.AreaName
@if (Model.Children.Count > 0)
{
    <ul class="tree">
        @foreach (var node in Model.Children)
        {
            if(node.AreaId!=0){
                
                 
            <li class="tree"><div class="tree"><a href="@Url.Action("Edit", "Areas", new { id = node.AreaId })">...</a> <a href="@Url.Action("Delete", "Areas", new { id = node.AreaId })">x</a>  <b>@Html.DisplayFor(x => node)</b> </div></li>
       
                 }
        }
    </ul>
}
