﻿@model CSMarketplace.Models.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdministratorUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministratorUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationWebLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationWebLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
