﻿@model CSMarketplace.Models.ManageOrganizationViewModel

@{
    ViewBag.Title = "Edit Organization";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.OrganizationId)
    @Html.HiddenFor(model => model.UserId)


    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title">
                        <div class="medium-8 columns page-submenu">
                            <h2>@ViewBag.Title</h2>
                        </div>

                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "Organizations", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>ORGANIZATION NAME</b>
                                @Html.EditorFor(model => model.OrganizationName)
                                @Html.ValidationMessageFor(model => model.OrganizationName)
                            </div>
                            <div class="large-12 columns end">
                                <b>ADDRESS</b>
                                @Html.EditorFor(model => model.OrganizationAddress)
                                @Html.ValidationMessageFor(model => model.OrganizationAddress)
                            </div>
                            <div class="large-12 columns end">
                                <b>PHONE</b>
                                @Html.EditorFor(model => model.OrganizationPhone)
                                @Html.ValidationMessageFor(model => model.OrganizationPhone)
                            </div>
                            <div class="large-12 columns end">
                                <b>FAX</b>
                                @Html.EditorFor(model => model.OrganizationFax)
                                @Html.ValidationMessageFor(model => model.OrganizationFax)
                            </div>
                            <div class="large-12 columns end">
                                <b>WEB</b>
                                @Html.EditorFor(model => model.OrganizationWebLink)
                                @Html.ValidationMessageFor(model => model.OrganizationWebLink)
                            </div>
                            <div class="large-12 columns end">
                                <b>ACTIVE</b>
                                @Html.EditorFor(model => model.OrganizationActive)
                                @Html.ValidationMessageFor(model => model.OrganizationActive)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>ORGANIZATION MANAGER FIRSTNAME</b>
                                @Html.EditorFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                            <div class="large-12 columns end">
                                <b>ORGANIZATION MANAGER LASTNAME</b>
                                @Html.EditorFor(model => model.LastName)
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                            <div class="large-12 columns end">
                                <b>ORGANIZATION MANAGER E-MAIL</b>
                                @Html.EditorFor(model => model.UserName)
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Update" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




























