﻿@model IEnumerable<CSMarketplace.Models.Organization>

@{
    ViewBag.Title = "Organizations";
}


<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns  page-submenu">
                        <h2>@ViewBag.Title</h2>
                        <p><a href="@Url.Action("Create", "Organizations", null)">NEW ORGANIZATION</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="500">Organization Name</th>
                                    <th width="250">Manager name</th>
                                    <th width="150">Status</th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;

                                    <tr>
                                        <td class="text-center">@counter</td>
                                        <td>@Html.DisplayFor(modelItem => item.OrganizationName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.AdministratorUser.FirstName) @Html.DisplayFor(modelItem => item.AdministratorUser.LastName)</td>
                          
                                        @{

                                    Boolean app_status = item.OrganizationActive;



                                    if (app_status == false)
                                    {
                                        <td class="not-validated">Not activated</td>

                                    }
                                    else if (app_status == true)
                                    {
                                        <td class="validated">Activated</td>

                                    }

                                        }
                                        
                                        
                                        <td class="text-center action-column">
                                            <a href="@Url.Action("Edit", "Organizations", new { id = item.OrganizationId })" ><div class="sprite-edit-icon"></div></a>
                                            <a href="@Url.Action("Delete", "Organizations", new { id = item.OrganizationId })" ><div class="sprite-remove-icon"></div></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>





