﻿@model CSMarketplace.Models.Driver

@{
    ViewBag.Title = "Details";


    var img_source_logo ="";
}



<div class="page-wraper app-details wraper">
    <div class="row">
        <div class="large-8 columns">
            <dl class="tabs">
                <dd ><a href="@Url.Action("List", "Applications", null)">Apps</a></dd>
                <dd class="active"><a href="@Url.Action("List", "Drivers", null)">Drivers</a></dd>
                <dd><a href="@Url.Action("List", "Devices", null)">Devices</a></dd>
                <dd><a href="@Url.Action("List", "Vendors", null)">Vendors</a></dd>
            </dl>
        </div>
        <div class="large-8 columns">
            <dl class="tabs" data-tab><dd><p> </p></dd></dl>
        </div>
    </div>
    <div class="row">

        <div class="large-3 columns">
            <div class="row">
                <div class="large-11 medium-4 medium-push-1 columns mr30">
                    <ul class="row side-nav no-bullet">
                        <div class="slide-nav-head"><img src="@img_source_logo" /></div>
                        <li><a href="#" onclick="scrollToElement('#DriverOverview'); return false;">app overview</a></li>
                        <li><a href="@Url.Action("Details", "Vendors", new { id = Model.VendorID})">About Vendor</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="large-9 columns">
            <div class="row">
                <div class="large-12 columns text-right end">
                    <dl class="tabs back-btn">
                        <dd><a href="#" onclick="history.go(-1); return false;">Back to home</a></dd>
                    </dl>
                </div>
                <div class="large-12 columns">
                    <div class="content-title">
                        <h1>@Html.DisplayFor(model => model.DriverName)</h1>
                        <p><strong>Application developed</strong> by  @ViewBag.VendorName</p>
                        <h2 id="DriverOverview">Driver Overview</h2>
                        <p>@Html.Raw(Model.DriverDescription)</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
