﻿@model IEnumerable<CSMarketplace.Models.Device>
@{
    ViewBag.Title = "Supported devices list";

    CSMarketplace.Models.Device new_device = new CSMarketplace.Models.Device();
    
}

<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>

                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("Edit", "Drivers", new { id = @ViewBag.DriverID })" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>

                <div class="row">

                    <div class="small-12 columns">
                        @using (Html.BeginForm("AddDevice", "Drivers", new { driver_id = @ViewBag.DriverID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)


                            <div class="large-12 columns end">
                                <b>ADD NEW DEVICE:</b>
                                @Html.DropDownList("AllDevices")
                            </div>
                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Add device" />
                                </div>
                            </div>


                        }
                    </div>


                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="650">Name</th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;


                                    <tr>
                                        <td class="text-center">@counter</td>
                                        <td>@Html.DisplayFor(modelItem => item.DeviceName)</td>
                                        <td class="text-center action-column">
                                            <a href="@Url.Action("DeleteDevice", "Drivers", new { driver_id = @ViewBag.DriverID, device_id = item.DeviceId })"><div class="btn third-btn tiny-btn nomargin">Delete</div></a>
                                        </td>
                                    </tr>


                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

