﻿@model CSMarketplace.Models.Driver
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Update Driver";
    string user_id = User.Identity.GetUserId();
}


@using (Html.BeginForm("Edit", "Drivers", new { id = "@user_id" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.DriverId)
    @Html.HiddenFor(model => model.VendorID)
    @Html.HiddenFor(model => model.DriverSelf)
    @Html.HiddenFor(model => model.DriverUrl)
 

    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title">
                        <div class="medium-8 columns page-submenu">
                            <h2>@ViewBag.Title</h2>
                            <p><a href="@Url.Action("DevicesList", "Drivers", new { driver_id = @Model.DriverId })">Devices list</a></p>
                        </div>
                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "Drivers", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>ACTIVE:</b>
                                @Html.EditorFor(model => model.DriverActive)
                                @Html.ValidationMessageFor(model => model.DriverActive)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>VALIDATION:</b>
                                @Html.EnumDropDownListFor(model => model.DriverValidation)
                                @Html.ValidationMessageFor(model => model.DriverValidation)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>DRIVER NAME</b>
                                @Html.EditorFor(model => model.DriverName)
                                @Html.ValidationMessageFor(model => model.DriverName)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>DRIVER ARCHIVE FILE (.ZIP):</b>
                                <input type="file" id="FileUploader2" name="FileUploader2" multiple="multiple" />
                                ARCHIVE LINK: <a href="@Html.ValueFor(model => model.DriverUrl)">@Html.ValueFor(model => model.DriverUrl)</a>
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>DESCRIPTION</b>
                                @Html.EditorFor(model => model.DriverDescription)
                                @Html.ValidationMessageFor(model => model.DriverDescription)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Save changes" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






