﻿@model IEnumerable<CSMarketplace.Models.Driver>

@{
    ViewBag.Title = "Drivers List";
}

<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>Drivers list</h2>
                        <p>Manage drivers descriptions, versions upload, validation status</p>
                    </div>

                </div>

                <div class="row">
                    <form id="FrmCheckout">

                        <div class="large-7 small-8 columns">

                            <input type="search" placeholder="@ViewBag.FilterWord" value="@ViewBag.CurrentFilter" id="search" name="search">

                        </div>
                        <div class="large-offset-1 large-4 small-4 columns">
                            <div class="row">
                                <a href="#" onclick="document.getElementById('FrmCheckout').submit()"><div class="sprite-search-icon small-5 columns"></div></a>

                            </div>
                        </div>


                    </form>
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="400">@Html.ActionLink("Driver Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th width="330">@Html.ActionLink("Vendor Name", "Index", new { sortOrder = ViewBag.VendorSortParm, currentFilter = ViewBag.CurrentFilter })   </th>
                                    <th width="170">@Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })   </th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                    var show_counter = 0;
                                }
                                @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
                               {


                                   int startIndex= ViewBag.ItemStartIndex;
                                    int itmesonpage=ViewBag.PagerNo;

                                    if (item.Index >= startIndex && item.Index < (startIndex + itmesonpage))
                                    {
                                    counter++;
                                    show_counter = startIndex + counter;
                                        

                                    <tr>
                                        <td class="text-center">@show_counter</td>
                                        <td>@Html.DisplayFor(modelItem => item.Data.DriverName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Data.Vendor.VendorName)</td>
                                        @{

                                        var app_status = item.Data.DriverValidation.ToString();



                                    if (app_status == "Pending")
                                    {

                                        <td class="pending">Pending</td>

                                    }
                                    else if (app_status == "Notvalidated")
                                    {
                                        <td class="not-validated">Not validated</td>

                                    }
                                    else if (app_status == "Validated")
                                    {
                                        <td class="validated">Validated</td>

                                    }

                                        }


                                        <td class="text-center action-column">
                                            <a href="@Url.Action("Edit", "Drivers", new { id = item.Data.DriverId })"><div class="sprite-edit-icon"></div></a>
                                            <a href="@Url.Action("Delete", "Drivers", new { id = item.Data.DriverId })"><div class="sprite-remove-icon"></div></a>
                                        </td>
                                    </tr>

                                }
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="columns large-12 text-right">

                        @{


                            int page_id = ViewBag.PageID;
                            int pagesqty = ViewBag.PagesQty;
                            int itemsqty = ViewBag.ItemsNo;


                            int prevIndex = ViewBag.PagePrevIndex;
                            int nextIndex = ViewBag.PageNextIndex;

                            int tempInt = 0;

                            if (pagesqty > 0)
                            {


                                <ul class="pagination right">

                                    @if (page_id > 1)
                                    {

                                        <li class="arrow">@Html.ActionLink("<< Prev", "Index", "Drivers", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = prevIndex }, null)</li>
                                    }

                                    @for (int pq = 1; pq <= pagesqty; pq++)
                                    {
                                        if (pq == page_id)
                                        {
                                            <li class="current">@Html.ActionLink(pq.ToString(), "Index", "Drivers", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = pq }, null)</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink(pq.ToString(), "Index", "Drivers", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = pq }, null)</li>
                                        }
                                    }



                                    @if (page_id < pagesqty)
                                    {
                                        <li class="arrow">@Html.ActionLink("Next >>", "Index", "Drivers", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = nextIndex }, null)</li>
                                    }
                                </ul>
                    <!-- <a href="#" class="btn second-btn small-btn">More</a> -->


                            }




                        }



                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

