﻿@model CSMarketplace.Models.EditUserViewModel

@{
    ViewBag.Title = "Are you sure you want to delete user?";
}



<div class="page-wraper wraper">
    <div class="row">
        <div class="large-8 small-12 large-centered columns">
            <div class="page-content">
                <div class="content-title"><h2>@ViewBag.Title</h2> </div>
                <div class="row mr30">
                    <div class="large-12 columns end">
                        <b>@Html.DisplayNameFor(model => model.UserName):</b>
                        @Html.DisplayFor(model => model.UserName)
                    </div>
                    <div class="large-12 columns end">
                        <b>@Html.DisplayNameFor(model => model.FirstName):</b>
                        @Html.DisplayFor(model => model.FirstName)
                    </div>
                    <div class="large-12 columns end">
                        <b>@Html.DisplayNameFor(model => model.LastName):</b>
                        @Html.DisplayFor(model => model.LastName)
                    </div>

                    
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                            <input type="submit" class="btn auto-btn second-btn register-btn" value="Delete" />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>

                }



                </div>
        </div>
    </div>
</div>


