﻿@model CSMarketplace.Models.Credential

@{
    ViewBag.Title = "Citizen Credentials";


}



<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        
                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("CitizensList", "Account", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>
                <div class="row mr30">

                    <div class="large-12 columns end">
                        <b>CITIZEN NAME:</b> @ViewBag.UserName 

                    </div>
                    <div class="large-12 columns end">
                        <br />
                    </div>
                    <div class="large-12 columns end">
                        <b>CITIZEN ID:</b> @ViewBag.UserID

                    </div>
                    <div class="large-12 columns end">
                        <br />
                    </div>
                    @{
                    if (ViewBag.FingerprintExist == 1)
                    {
                            <div class="large-12 columns end"> 
                                <b>FINGERPRINTS:</b> Stored <a href="@Url.Action("DeleteCitizenFingerprints", "Account", new { id = @ViewBag.UserID })" class="btn third-btn tiny-btn nomargin">CLEAR</a>
                            </div>
                    }
                    else
                    {

                        <div class="large-12 columns end">
                            <b>FINGERPRINTS:</b> Not stored
                        </div>

                    }
}
                    <div class="large-12 columns end">
                        <br />
                    </div>
                    @using (Html.BeginForm("EditCitizenNFC", "Account"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.CredentialId)
                        @Html.HiddenFor(model => model.CarestoreUser)
                        @Html.HiddenFor(model => model.CarestoreUserId)
                        @Html.HiddenFor(model => model.CredentialId)
                        @Html.HiddenFor(model => model.CredentialMetric)
                        <div class="large-12 columns end">
                            <b>NFC TAG:</b> @Html.EditorFor(model => model.CredentialData)
                            <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                <input type="submit" class="btn auto-btn second-btn register-btn" value="Update" />
                            </div>
                            
                        </div>
                        
                        <div class="large-12 columns end">
                            <br />
                        </div>
                        
                        
                        <div class="large-12 columns end" style="color:red">
                                @if(ViewBag.Error==1){
                                    
                                    <i>NFC: '<b>@ViewBag.ErroredCredential</b>' is already assigned to another user!</i>
                                    
                                    
                                }
                         </div>
                        
                    }
                   

                </div>


                   

    </div>

            </div>
        </div>
    </div>
</div>
