﻿@model CSMarketplace.Models.EditUserViewModelAreas

@{
    ViewBag.Title = "Authorized areas list";
    
   
}



<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>

                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("CaregiversList", "Account", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>

                <div class="row mr30">
                    <div class="large-12 columns end">
                        <b>CAREGIVER NAME:</b>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)

                    </div>
                    <div class="large-12 columns end">
                        <br />
                    </div>
                    <div class="large-12 columns end">
                        <b>CAREGIVER ID:</b> @Model.UserId

                    </div>
                    <div class="large-12 columns end">
                        <br />
                    </div>
                    <div class="large-12 columns end">
                        <b>ASSIGNED AREAS:</b>
                        <ul>

                            @{


                                var areas_per_user = ViewBag.UserAreas;

                                foreach (var area in areas_per_user)
                                {


                                    <li> @area.AreaName -> <a href="@Url.Action("RemoveUserArea", "Account", new { id = @Model.UserId, aid=@area.AreaId })">Remove</a> </li>


                                }


                            }
                        </ul>

                    </div>

                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.FirstName)
                    @Html.HiddenFor(model => model.LastName)


    <div class="row mr30">
        <div class="large-12 columns end">
            <b>CATEGORY:</b>
            @Html.DropDownListFor(model => model.SelectedAreaID, ViewBag.Areas as SelectList, "Select area ->")
        </div>
        <div class="large-12 columns end">
            <br />
        </div>

        <div class="row">
            <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                <input type="submit" class="btn auto-btn second-btn register-btn" value="Add" />
            </div>
        </div>
    </div>


                }



            </div>
        </div>
    </div>
</div>


