﻿@model CSMarketplace.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit Profile";
}




    <div class="page-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>

                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("CitizensList", "Account", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>
                @using (Html.BeginForm("EditCitizen", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.UserName)
                    <form>
                        <div class="row mr30">
                            <div class="large-12 columns end">
                                <b>FIRST NAME:</b>
                                @Html.EditorFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                            <div class="large-12 columns end">

                                <b>LAST NAME:</b>
                                @Html.EditorFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>CITIZEN ID:</b> @Model.UserId

                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>PROFILE PHOTO:</b>
                                <input type="file" id="FileUploader" name="FileUploader" multiple="multiple" accept=".jpg,.jpeg" />
                                <img src="@Html.ValueFor(model => model.ProfilePicture)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                <input type="submit" class="btn auto-btn second-btn register-btn" value="Save changes" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns end" style="color:red">
                                @Html.ValidationSummary(true)
                            </div>


                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>





