﻿@model CSMarketplace.Models.EditUserViewModelPlatforms

@{
    ViewBag.Title = "Authorized platforms list";


}



<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        
                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("CitizensList", "Account", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>
                <div class="row mr30">

                    <div class="large-12 columns end">
                        <b>CITIZEN NAME:</b>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)

                    </div>
                    <div class="large-12 columns end">
                        <br />
                    </div>
                    <div class="large-12 columns end">
                        <b>CITIZEN ID:</b> @Model.UserId

                    </div>
                    <div class="large-12 columns end">
                        <br />
                    </div>
                    <div class="large-12 columns end">
                        <b>ASSIGNED PLATFORMS:</b>
                        <ul>

                            @{


                                var platforms_per_user = ViewBag.UserPlatforms;

                                foreach (var platform in platforms_per_user)
                                {


                                    <li> @platform.PlatformName -> <a href="@Url.Action("RemoveUserPlatform", "Account", new { id = @Model.UserId, pid=@platform.PlatformId })">Remove</a> </li>


                                }


                            }
                        </ul>

                    </div>
                </div>


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.UserName)
                        @Html.HiddenFor(model => model.FirstName)
                        @Html.HiddenFor(model => model.LastName)


                        <div class="row mr30">
                            <div class="large-12 columns end">
                                <b>AVAILABLE PLATFORMS:</b>
                                @Html.DropDownListFor(model => model.SelectedPlatformID, ViewBag.Platforms as SelectList, "Select platform ->")
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Add" />
                                </div>
                            </div>
                        </div>
                        

        }

    </div>

            </div>
        </div>
    </div>
</div>
