﻿@model CSMarketplace.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit user profile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserId)
    
    
    <div class="page-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        <a href="@Url.Action("Manage", "Account", null)">Change password</a>
                        
                    </div>
                </div>

                <form>
                    <div class="row">
                        <div class="large-12 columns end">
                            <br />
                        </div>
                        <div class="large-12 columns end">
                            <b>E-MAIL / USERNAME:</b>
                            @Html.EditorFor(model => model.UserName, new { @class = "form-control", placeholder = "e-mail" })
                            @Html.ValidationMessageFor(model => model.UserName)

                        </div>
                        <div class="large-12 columns end">
                            <b>FIRST NAME:</b>
                            @Html.EditorFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="large-12 columns end">

                            <b>LAST NAME:</b>
                            @Html.EditorFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                            <input type="submit" class="btn auto-btn second-btn register-btn" value="Save changes" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns end" style="color:red">
                            @Html.ValidationSummary(true)
                        </div>
                        <div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    

}


