﻿@model IEnumerable<CSMarketplace.Models.EditUserViewModel>

@{
    ViewBag.Title = "Users List";
}



<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns">
                        <h2>Users List</h2>
                        <p>@Html.ActionLink("Create New User", "RegisterAdmin")</p>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="200">Username</th>
                                    <th width="250">First Name</th>
                                    <th width="250">Last Name</th>
                                    <th width="400" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;
                                    
                                <tr>
                                    <td class="text-center">@counter</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td class="text-center action-column">
                                        <a href="@Url.Action("Edit", "Account", new { id = item.UserId })" class="btn third-btn tiny-btn nomargin">Edit</a> 
                                        <a href="@Url.Action("UserRoles", "Account", new { id = item.UserId })" class="btn third-btn tiny-btn nomargin">Roles</a> 
                                        <a href="@Url.Action("Delete", "Account",new { id = item.UserId })" class="btn third-btn tiny-btn nomargin">Delete</a>
                                    </td>
                                </tr>
                                }
                     
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



