﻿@model CSMarketplace.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}



<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        <hr />
                
        <div class="page-wraper wraper">
            <div class="row">
                <div class="large-7 small-12 large-centered columns">
                    <div class="page-content">
                        <div class="content-title">
                            <h2>@ViewBag.Title</h2>
                        </div>
                        <form>
                            <div class="row">
                                <div class="large-12 columns">                          
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "E-mail" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                            </div>
                            <div class="row mr30">
                                <div class="large-12 columns">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                           
                            <div class="row mr30">
                                <div class="large-4 medium-4 columns mr10" style="color:red">
                                    @Html.ValidationSummary(true)
                                </div>
                                <div class="large-4 medium-6 columns">
                                    <input type="submit" value="Log in" class="btn auto-btn second-btn" />
                                </div>
                            </div>
                            <div class="row mr30">
                                <div class="large-4 medium-4 columns mr10">
                                    @Html.ActionLink("Register", "Register") if you don't have a vendor account
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
}
        </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

        
              
                
           




       
