﻿@using CSMarketplace.Models;
@using Microsoft.AspNet.Identity;
@model CSMarketplace.Models.ManageUserViewModel
@{
    ViewBag.Title = "Manage Account";
}


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="page-wraper wraper">
    <div class="row">
        <div class="large-8 small-12 large-centered columns">
            <div class="page-content">
                <div class="content-title"><h2>@ViewBag.Title</h2> </div>
                <div><p><b>@ViewBag.StatusMessage</b></p></div>
                <div><p>Password change for User: <strong>@User.Identity.GetUserName()</strong>.</p></div>
                <form>
                    <div class="row mr30">
                        <div class="large-12 columns end">                        
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "current password" })
                        </div>

                        <div class="large-12 columns end">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "new password" })
                        </div>
                        <div class="large-12 columns end">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "confirm password" })
                        </div>

                    </div>

                    <div class="row">
                        <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                            <input type="submit" class="btn auto-btn second-btn register-btn" value="Change Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns end" style="color:red">
                            @Html.ValidationSummary()
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
