﻿@model CSMarketplace.Models.RegisterAdminViewModel
@{
    ViewBag.Title = "Register new Citizen";
 //   Model.UserName = "citizen@carestore.eu";
 //   Model.Password = "123456";
  //  Model.ConfirmPassword = "123456";
}

@using (Html.BeginForm("RegisterCitizen", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.ConfirmPassword)

    <div class="page-wraper wraper">
    <div class="row">
        <div class="large-8 small-12 large-centered columns">
            <div class="page-content">
                <div class="content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>

                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("CitizensList", "Account", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>
                <form>
                    <div class="row mr30">
                        <div class="large-12 columns end">
                            <br />
                        </div>
                        <div class="large-12 columns end">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                        </div>
                        <div class="large-12 columns end">
                            <br />
                        </div>
                        <div class="large-12 columns end">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                        </div>
                        <div class="large-12 columns end">
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                            <input type="submit" class="btn auto-btn second-btn register-btn" value="Register" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns end" style="color:red">
                            @Html.ValidationSummary()
                        </div>

                     </div>
                </form>
            </div>
        </div>
    </div>
</div>

}


