﻿@model CSMarketplace.Models.SelectUserRolesViewModel

@{
    ViewBag.Title = "Select User Role";
}


<div class="page-wraper wraper">
    <div class="row">
        <div class="large-8 small-12 large-centered columns">
            <div class="page-content">
                <div class="content-title"><h2>@ViewBag.Title</h2> </div>
                @using (Html.BeginForm("UserRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
                {
                    @Html.AntiForgeryToken()

                     @Html.HiddenFor(model => model.UserId)
                    
                    
                    <div class="row mr30">

                        @Html.EditorFor(model => model.Roles)
                    </div>
                    
                    <div class="row">
                        <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                            <input type="submit" class="btn auto-btn second-btn register-btn" value="Save changes" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns end" style="color:red">
                            @Html.ValidationSummary(true)
                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                     </div>
                    
                    
                    
                               
                    
                }
            </div>
        </div>
    </div>
</div>
