﻿@model CSMarketplace.Models.Device
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Introduce a new device";
    string user_id = User.Identity.GetUserId();
    int vendor_id = ViewBag.vendor_id;
}

@using (Html.BeginForm("Create", "Devices", new { id = "@user_id" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title">
                        <div class="medium-8 columns page-submenu">
                            <h2>@ViewBag.Title</h2>
                        </div>

                        <div class="medium-4 columns">
                            <a href="@Url.Action("VendorIndex", "Devices", new { id = @user_id }, null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>DEVICE NAME</b>
                                @Html.EditorFor(model => model.DeviceName)
                                @Html.ValidationMessageFor(model => model.DeviceName)
                            </div>
                            <div class="large-12 columns end">
                                <b>ICON:</b>
                                <input type="file" id="FileUploader" name="FileUploader" multiple="multiple" />
                            </div>
                            <div class="large-12 columns end">
                                <b>DESCRIPTION</b>
                                @Html.EditorFor(model => model.DeviceDescription)
                                @Html.ValidationMessageFor(model => model.DeviceDescription)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







