﻿@model CSMarketplace.Models.Device

@{
    ViewBag.Title = "Are you sure you want to delete Device?";
}


<div class="page-wraper wraper">
    <div class="row">
        <div class="large-8 small-12 large-centered columns">
            <div class="page-content">
                <div class="content-title"><h2>@ViewBag.Title</h2> </div>
                <div class="row mr30">
                    <div class="large-12 columns end">
                        <b>DEVICE NAME:</b>
                        @Html.DisplayFor(model => model.DeviceName)
                    </div>
                    <div class="large-12 columns end">
                        <b>VENDOR NAME:</b>
                        @Html.DisplayFor(model => model.Vendor.VendorName)
                    </div>
                    <div class="large-12 columns end">
                        <b>DEVICE STATUS:</b>
                        @Html.DisplayFor(model => model.DeviceValidation)
                    </div>


                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                            <input type="submit" class="btn auto-btn second-btn register-btn" value="Delete" />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>

                }



            </div>
        </div>
    </div>
</div>



