﻿@model CSMarketplace.Models.Device

@{
    ViewBag.Title = "Details";

    var img_source_logo = Model.DeviceIcon;
}



<div class="page-wraper app-details wraper">
    <div class="row">
        <div class="large-8 columns">
            <dl class="tabs">
                <dd><a href="@Url.Action("List", "Applications", null)">Apps</a></dd>
                <dd><a href="@Url.Action("List", "Drivers", null)">Drivers</a></dd>
                <dd class="active"><a href="@Url.Action("List", "Devices", null)">Devices</a></dd>
                <dd><a href="@Url.Action("List", "Vendors", null)">Vendors</a></dd>
            </dl>
        </div>
        <div class="large-8 columns">
            <dl class="tabs" data-tab><dd><p> </p></dd></dl>
        </div>
    </div>
    <div class="row">

        <div class="large-3 columns">
            <div class="row">
                <div class="large-11 medium-4 medium-push-1 columns mr30">
                    <ul class="row side-nav no-bullet">
                        <div class="slide-nav-head"><img src="@img_source_logo" /></div>
                        <li><a href="#" onclick="scrollToElement('#DeviceOverview'); return false;">app overview</a></li>
                        <li><a href="#" onclick="scrollToElement('#DeviceScreenshots'); return false;">Screenshots</a></li>
                        <li><a href="@Url.Action("Details", "Vendors", new { id = Model.VendorID})">About Vendor</a></li>
                        <li><a href="#" onclick="scrollToElement('#DeviceApplications'); return false;">Applications</a></li>
                        <li><a href="#" onclick="scrollToElement('#DeviceDrivers'); return false;">Drivers</a></li>
                    </ul>
                </div>
                <div class="large-11 medium-4 medium-push-3  large-push-1 columns app-details-stats end">
                    <h3>Device website</h3>
                    <div class="stat-number">
                        <p>Click the link below:</p>
                        <p><a href="@Model.DeviceUrl">@Model.DeviceUrl</a></p>
                    </div>
                    <div class="stat-number">
                    </div>

                </div>
            </div>
        </div>

        <div class="large-9 columns">
            <div class="row">
                <div class="large-12 columns text-right end">
                    <dl class="tabs back-btn">
                        <dd><a href="#" onclick="history.go(-1); return false;">Back to home</a></dd>
                    </dl>
                </div>
                <div class="large-12 columns">
                    <div class="content-title">
                        <h1>@Html.DisplayFor(model => model.DeviceName)</h1>
                        <p><strong>Device introduced</strong> by  @ViewBag.VendorName</p>
                        <h2 id="DeviceOverview">Device Overview</h2>
                        <p>@Html.Raw(Model.DeviceDescription)</p>
                    </div>
                </div>
                <div class="large-12 columns" id="DeviceScreenshots">
                    <h3>Device screenshots</h3>
                </div>
                <div class="large-12 columns">
                    <div class="swiper-container mr40 ">
                        <div class="swiper-wrapper">
                            @{
                                var deviceImages = (List<string>)ViewData["deviceImages"];

                            }

                            @for (int ii = 0; ii < deviceImages.Count(); ii++)
                            {

                                String myDeviceScreen = deviceImages.ElementAt(ii);

                                <div class="swiper-slide">
                                    <img src="@myDeviceScreen" width="100%" alt="">
                                </div>

                            }
                        </div>
                        <div class="pagination pagination1"></div>
                    </div>
                </div>

                <div class="large-12 columns" id="DeviceApplications">
                    <h3>Device Applications</h3>
                </div>
                <div class="large-12 columns" id="DeviceDrivers">
                    <h3>Device Drivers</h3>
                </div>




            </div>
        </div>

    </div>

</div>
