﻿@model IEnumerable<CSMarketplace.Models.Device>

@{
    ViewBag.Title = "Devices";
}


<div class="search-result-wraper new-app page-wraper wraper">
    <div class="row">
        <div class="large-8 columns">
            <dl class="tabs" >
                <dd ><a href="@Url.Action("List", "Applications", null)">Apps</a></dd>
                <dd><a href="@Url.Action("List", "Drivers", null)">Drivers</a></dd>
                <dd class="active"><a href="@Url.Action("List", "Devices", null)">Devices</a></dd>
                <dd><a href="@Url.Action("List", "Vendors", null)">Vendors</a></dd>
            </dl>
        </div>
        <div class="large-3 large-offset-1 columns end text-right">
            <dl class="tabs back-btn">
                <dd><a href="#" onclick="history.go(-1); return false;">Back to home</a></dd>
            </dl>
        </div>
    </div>

    <div class="row mr20">
        <div class="large-10 columns large-push-2">
            <div class="row search-sortby">
                <div class="large-7 medium-7 small-12 columns">
                    <h1><strong>@ViewBag.Title</strong></h1>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-2 columns">
            <ul class="side-nav no-bullet mrb20">
                <li>@Html.ActionLink("All devices", "List", "Devices", null, null)</li>
                @{
                    var CategoriesNames = (List<string>)ViewData["CategoriesNames"];
                    var CategoriesIndexes = (List<int>)ViewData["CategoriesIndexes"];
                 }

                 @for (int ii = 0; ii < CategoriesNames.Count(); ii++)
                 {

                     String myCategoryName = CategoriesNames.ElementAt(ii);
                     int myCategoryIndex = CategoriesIndexes.ElementAt(ii);

                    <li> @Html.ActionLink(myCategoryName, "List", "Devices", new { cat = myCategoryIndex, page = 1 }, null)</li>


                 }

            </ul>
        </div>

        <div class="large-10 columns">
            <div class="row">
                <div class="large-12 small-12 small-centered columns box-wraper end">
                    <div class="tabs-content">
                        <div class="content active" id="panel2-1">
                            <ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1">

                                @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
                                {


                                    int startIndex = ViewBag.ItemStartIndex;
                                    int itmesonpage = ViewBag.PagerNo;

                                    if (item.Index >= startIndex && item.Index < (startIndex + itmesonpage))
                                    {






                                        var img_source = item.Data.DeviceIcon;
                                        var title1 = item.Data.DeviceName;
                                        var title2 = "See more";

                                        <li>
                                            <a href="@Url.Action("Details", "Devices", new { id = item.Data.DeviceId })" class="box-item box-app">
                                                <div class="box-item-header"><img src="@img_source" alt=""></div>
                                                <div class="box-item-content"><h3>@title1</h3><p>@title2</p></div>
                                            </a>
                                        </li>

                                    }
                                }                           
                            </ul>
                        </div>
                        <div class="content" id="panel2-2">
                            <p>Second panel content goes here...</p>
                        </div>
                        <div class="content" id="panel2-3">
                            <p>Third panel content goes here...</p>
                        </div>
                        <div class="content" id="panel2-4">
                            <p>Fourth panel content goes here...</p>
                        </div>
                    </div>
                </div>
                <div class="columns large-12 text-right">
                    @{


                        int page_id = ViewBag.PageID;
                        int pagesqty = ViewBag.PagesQty;
                        int itemsqty = ViewBag.ItemsNo;


                        int prevIndex = ViewBag.PagePrevIndex;
                        int nextIndex = ViewBag.PageNextIndex;
                        int myCat = ViewBag.currentCategoryIndex;
                        int tempInt = 0;

                        if (pagesqty > 0)
                        {


                            <ul class="pagination right">

                                @if (page_id > 1)
                                {

                                    <li class="arrow">@Html.ActionLink("<< Prev", "List", "Devices", new { cat = myCat, page = prevIndex }, null)</li>
                                }

                                @for (int pq = 1; pq <= pagesqty; pq++)
                                {
                                    if (pq == page_id)
                                    {
                                        <li class="current">@Html.ActionLink(pq.ToString(), "List", "Devices", new { cat = myCat, page = pq }, null)</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink(pq.ToString(), "List", "Devices", new { cat = myCat, page = pq }, null)</li>
                                    }
                                }



                                @if (page_id < pagesqty)
                                {
                                    <li class="arrow">@Html.ActionLink("Next >>", "List", "Devices", new { cat = myCat, page = nextIndex }, null)</li>
                                }
                            </ul>
                    <!-- <a href="#" class="btn second-btn small-btn">More</a> -->


                        }




                    }
                </div>
            </div>
        </div>
    </div>


</div>

