﻿@model IEnumerable<CSMarketplace.Models.Device>

@{
    ViewBag.Title = "Devices List";
}

<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns   page-submenu">
                        <h2>Devices list</h2>
                        <p><a href="@Url.Action("Create", "Devices", null)">INTRODUCE A NEW DEVICE</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="500">Name</th>
                                    <th width="300">Status</th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                        var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;


                                <tr>
                                    <td class="text-center">1</td>
                                    <td>@Html.DisplayFor(modelItem => item.DeviceName)</td>

                                    @{
                                        
                                            var app_status = item.DeviceValidation.ToString();



                                            if (app_status == "Pending")
                                            {

                                                <td class="pending">Pending</td>

                                            }
                                            else if (app_status == "Notvalidated")
                                            {
                                                <td class="not-validated">Not validated</td>

                                            }
                                            else if (app_status == "Validated")
                                            {
                                                <td class="validated">Validated</td>

                                            }
                                        
                                    }

                                  
                                    <td class="text-center action-column">
                                        <a href="@Url.Action("EditVendor", "Devices", new { id = item.DeviceId })"><div class="sprite-edit-icon"></div></a>
                                    </td>
                                </tr>
    
    
                                }
   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

