﻿@model CSMarketplace.Models.ApplicationScreen

@{
    ViewBag.Title = "Upload a new Application Screen";
    int application_id = ViewBag.ApplicationID;
}

@using (Html.BeginForm("Create", "ApplicationScreens", new { application_id = application_id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ApplicationID)


    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title">
                        <div class="medium-8 columns page-submenu"><h2>@ViewBag.Title</h2> </div>

                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "ApplicationScreens", new { application_id = application_id }, null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="small-12 columns">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>IMAGE PATH</b>
                                <input type="file" id="FileUploader" name="FileUploader" multiple="multiple" />
                            </div>
                            <div class="large-12 columns end">
                                <b>SORT INDEX</b>
                                @Html.EditorFor(model => model.ApplicationScreenSortIndex)
                                @Html.ValidationMessageFor(model => model.ApplicationScreenSortIndex)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

