﻿@model CSMarketplace.Models.ApplicationScreen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationScreen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationScreenUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationScreenUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationScreenSortIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationScreenSortIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationScreenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
