﻿@model IEnumerable<CSMarketplace.Models.ApplicationScreen>

@{
    ViewBag.Title = "Applications Screens";
    int application_id = ViewBag.ApplicationID;
}




<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        @Html.ActionLink("Add new Image", "VendorCreate", new { application_id = @ViewBag.ApplicationID })
                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("EditVendor", "Applications", new { id = application_id }, null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    
                                    <th width="80">Sort</th>
                                    <th width="720">Screen</th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;

                                    <tr>
                                      
                                        <td>@Html.DisplayFor(modelItem => item.ApplicationScreenSortIndex)</td>
                                        <td>
                                            
                                            <img src="@Html.ValueFor(modelItem => item.ApplicationScreenUrl)"  height="130" />
                                             
                                        </td>
                                        <td class="text-center action-column">
                                            <a href="@Url.Action("VendorEdit", "ApplicationScreens", new { as_id = item.ApplicationScreenId, application_id=application_id })"  ><div class="sprite-edit-icon"></div></a>
                                            <a href="@Url.Action("VendorDelete", "ApplicationScreens", new { as_id = item.ApplicationScreenId, application_id = application_id })" ><div class="sprite-remove-icon"></div></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>






