﻿@model CSMarketplace.Models.DeviceCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceCategoryActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceCategoryActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceCategoryIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceCategoryIcon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
