﻿@model IEnumerable<CSMarketplace.Models.DeviceCategory>

@{
    ViewBag.Title = "Devices categories list";
}


<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        @Html.ActionLink("NEW CATEGORY", "Create")
                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("Index", "Devices", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="600">Category Name</th>
                                    <th width="150">Status</th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;

                                    <tr>
                                        <td class="text-center">@counter</td>
                                        <td>@Html.DisplayFor(modelItem => item.DeviceCategoryName)</td>
                                        @{

                                                var device_category_status = item.DeviceCategoryActive;

                                                if (device_category_status == true)
                                                {
                                                    <td class="validated">Enabled</td>
                                                }
                                                else
                                                {
                                                    <td class="not-validated">Disabled</td>
                                                }

                                        }
                                        <td class="text-center action-column">
                                            <a href="@Url.Action("Edit", "DeviceCategories", new { id = item.DeviceCategoryId })" ><div class="sprite-edit-icon"></div></a>
                                            <a href="@Url.Action("Delete", "DeviceCategories", new { id = item.DeviceCategoryId })" ><div class="sprite-remove-icon"></div></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
