﻿@model CSMarketplace.Models.Application
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Update Application";
    string user_id = User.Identity.GetUserId();
 
}


@using (Html.BeginForm("Edit", "Applications", new { id = "@user_id" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ApplicationId)
    @Html.HiddenFor(model => model.VendorID)
    @Html.HiddenFor(model => model.ApplicationSelf)
    @Html.HiddenFor(model => model.ApplicationUrl)
    @Html.HiddenFor(model => model.ApplicationLogo)

    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title">
                        <div class="medium-8 columns page-submenu">
                            <h2>@ViewBag.Title</h2>
                            <a href="@Url.Action("Index", "ApplicationScreens", new { application_id = @Model.ApplicationId })">SCREENS MANAGEMENT</a>
                        </div>
                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "Applications", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>ACTIVE:</b>
                                @Html.EditorFor(model => model.ApplicationActive)
                                @Html.ValidationMessageFor(model => model.ApplicationActive)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>VALIDATION:</b>
                                @Html.EnumDropDownListFor(model => model.ApplicationValidation)
                                @Html.ValidationMessageFor(model => model.ApplicationValidation)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>   
                            <div class="large-12 columns end">
                                <b>APPLICATION NAME</b>
                                @Html.EditorFor(model => model.ApplicationName)
                                @Html.ValidationMessageFor(model => model.ApplicationName)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>ICON:</b>
                                <input type="file" id="FileUploader" name="FileUploader" multiple="multiple" />
                                <img src="@Html.ValueFor(model => model.ApplicationLogo)" />
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>CATEGORY:</b>
                              @Html.DropDownListFor(model => model.ApplicationCategoryID, ViewBag.Categories as SelectList, "Select category ->")
                              

                             </div> 
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>APPLICATION ARCHIVE FILE (.ZIP):</b>
                                <input type="file" id="FileUploader2" name="FileUploader2" multiple="multiple" />
                                <i>ARCHIVE LINK: <a href="@Html.ValueFor(model => model.ApplicationUrl)">@Html.ValueFor(model => model.ApplicationUrl)</a></i>
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>DESCRIPTION</b>
                                @Html.EditorFor(model => model.ApplicationDescription)
                                @Html.ValidationMessageFor(model => model.ApplicationDescription)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Save changes" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



