﻿@model CSMarketplace.Models.Application
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Application Details";
    string user_id = User.Identity.GetUserId();
 
}


    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title ">
                        <div class="medium-8 columns page-submenu"><h2>@ViewBag.Title</h2> </div>

                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "Applications", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                        <div class="row">
                            <div class="large-12 columns end">
                                <p>
                                    <b>ACTIVE:</b>
                                    @{

                                        if (Model.ApplicationActive==true)
                                        {
                                            @Html.Raw("Yes");
                                        }
                                        else
                                        {
                                            @Html.Raw("No");
                                        }


                                    }
                                </p>
                            </div>
                            <div class="large-12 columns end">
                                <p>
                                    <b>VALIDATION:</b>
                                    @Html.ValueFor(model => model.ApplicationValidation)
                                </p>
                            </div>                                  
                            <div class="large-12 columns end">
                                <p>
                                    <b>APPLICATION NAME</b>
                                    @Html.ValueFor(model => model.ApplicationName)
                                </p>
                            </div>
                            <div class="large-12 columns end">
                                <b>ICON:</b>
                                <img src="@Html.ValueFor(model => model.ApplicationLogo)" />
                            </div>
                            <div class="large-12 columns end">
                                <p>
                                    <b>CATEGORY:</b>
                                    @Html.ValueFor(model => model.ApplicationCategory.ApplicationCategoryName)
                                </p>
                            </div> 
                            <div class="large-12 columns end">
                                <p>
                                    <b>APPLICATION ARCHIVE FILE (.ZIP):</b>
                                    ARCHIVE LINK: <a href="@Html.ValueFor(model => model.ApplicationUrl)">@Html.ValueFor(model => model.ApplicationUrl)</a>
                                </p>
                            </div>
                            <div class="large-12 columns end">
                                <p>
                                    <b>DESCRIPTION</b>
                                    @Html.Raw(Model.ApplicationDescription)
                                </p>
                            </div>
                            <div class="large-12 columns">
                                <p>
                                    <b>SCREENSHOTS</b>
                                </p>
                            </div>
                            <div class="large-12 columns">
                                <div class="swiper-container mr40 ">
                                    <div class="swiper-wrapper">
                                        @{
                                            var appImages = (List<string>)ViewData["appImages"];

                                        }

                                        @for (int ii = 0; ii < appImages.Count(); ii++)
                                        {

                                            String myAppScreen = appImages.ElementAt(ii);

                                            <div class="swiper-slide">
                                                <img src="@myAppScreen" width="100%" alt="">
                                            </div>

                                        }
                                    </div>
                                    <div class="pagination pagination1"></div>
                                </div>
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



