﻿@model CSMarketplace.Models.Area

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Area</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaSortIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaSortIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AreaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
