﻿@model CSMarketplace.Models.Area

@{
    ViewBag.Title = "Update Area Details";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.AreaId)

    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="content-title">
                        <div class="medium-8 columns page-submenu">
                            <h2>@ViewBag.Title</h2>

                        </div>
                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "Areas", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>AREA NAME</b>
                                @Html.EditorFor(model => model.AreaName)
                                @Html.ValidationMessageFor(model => model.AreaName)
                            </div>
                            <div class="large-12 columns end">
                                <b>ADDRESS</b>
                                @Html.EditorFor(model => model.AreaAddress)
                                @Html.ValidationMessageFor(model => model.AreaAddress)
                            </div>
                            <div class="large-12 columns end">
                                <b>SORT INDEX</b>
                                @Html.EditorFor(model => model.AreaSortIndex)
                                @Html.ValidationMessageFor(model => model.AreaSortIndex)
                            </div>
                            <div class="large-12 columns end">
                                <b>PARENT AREA:</b>
                                @Html.DropDownListFor(model => model.AreaParentId, ViewBag.Areas as SelectList, "Root Area")
                            </div> 

                           
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Update" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








