﻿@model CSMarketplace.Models.AreaTree

@{
    ViewBag.Title = "Organization Areas";
}

<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        <a href="@Url.Action("Create", "Areas", null)">NEW AREA</a>
                    </div>
                </div>

                <div class="row">
                                  
                        <div class="small-12 columns">
                            <div class="large-12 columns end">
                                <h3>Organization structure:</h3>
                            </div>
                            <div class="large-12 columns end">
                                <ul>
                                    <li class="tree">@Html.DisplayFor(x => Model.RootNode)</li>
                                </ul>

                            </div>
                            </div>
                    </div>
            </div>

        </div>

    </div>

</div>
