﻿@model CSMarketplace.Models.ApplicationCategory

@{
    ViewBag.Title = "Create a New Category";
}


@using (Html.BeginForm())
{
   
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title ">
                        <div class="medium-8 columns page-submenu"><h2>@ViewBag.Title</h2> </div>

                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "ApplicationCategories", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>CATEGORY NAME</b>
                                @Html.EditorFor(model => model.ApplicationCategoryName)
                                @Html.ValidationMessageFor(model => model.ApplicationCategoryName)
                            </div>
                            <div class="large-12 columns end">
                                <b>ACTIVE:</b>
                                @Html.EditorFor(model => model.ApplicationCategoryActive)
                                @Html.ValidationMessageFor(model => model.ApplicationCategoryActive)
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Save changes" />
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

