﻿@model CSMarketplace.Models.ApplicationCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationCategoryActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationCategoryActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationCategoryIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationCategoryIcon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
