﻿@model CSMarketplace.Models.DeviceScreen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceScreen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Device.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceScreenUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceScreenUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceScreenSortIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceScreenSortIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceScreenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
