﻿@model CSMarketplace.Models.DeviceScreen

@{
    ViewBag.Title = "Change screen details";
    int device_id = ViewBag.DeviceID;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.DeviceScreenId)
    @Html.HiddenFor(model => model.DeviceID)
    @Html.HiddenFor(model => model.DeviceScreenUrl)


    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title">
                        <div class="medium-8 columns page-submenu">
                            <h2>@ViewBag.Title</h2>
                        </div>

                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "DeviceScreens", new { device_id = device_id }, null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="small-12 columns">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>SCREEN SORT INDEX</b>
                                @Html.EditorFor(model => model.DeviceScreenSortIndex)
                                @Html.ValidationMessageFor(model => model.DeviceScreenSortIndex)
                            </div>
                            <div class="large-12 columns end">
                                <b>IMAGE:</b>
                                <img src="@Html.ValueFor(model => model.DeviceScreenUrl)" />
                            </div>

                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Update" />
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


