﻿@model IEnumerable<CSMarketplace.Models.DeviceScreen>

@{
    ViewBag.Title = "Devices Screens";
    int device_id = ViewBag.DeviceID;
}






<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        @Html.ActionLink("NEW IMAGE", "VendorCreate", new { device_id = @ViewBag.DeviceID })
                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("EditVendor", "Devices", new { id = device_id }, null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>

                                    <th width="80">Sort</th>
                                    <th width="720">Screen</th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;

                                    <tr>

                                        <td>@Html.DisplayFor(modelItem => item.DeviceScreenSortIndex)</td>
                                        <td>

                                            <img src="@Html.ValueFor(modelItem => item.DeviceScreenUrl)" height="130" />

                                        </td>
                                        <td class="text-center action-column">
                                            <a href="@Url.Action("VendorEdit", "DeviceScreens", new { ds_id = item.DeviceScreenId, device_id = device_id })" ><div class="sprite-edit-icon"></div></a>
                                            <a href="@Url.Action("VendorDelete", "DeviceScreens", new { ds_id = item.DeviceScreenId, device_id = device_id })"><div class="sprite-remove-icon"></div></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

