﻿@{
    ViewBag.Title = "About";
}

<div class="admin-wraper wraper">
    <div class="row">
        <div class="medium-8 small-12 columns">
            <div class="admin-content">
                <div class="content-title">
                    <h2>@ViewBag.Title.</h2>
                    <h3 class="content-subheader">@ViewBag.Message</h3>
                </div>
                <p>CareStore is just that; a spike of current state-of-the-art technology, non-proprietary and supporting hardware or software from all vendors and suppliers. Interoperability remains a wanted trade.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <p>@Html.Raw(@ViewBag.Message2)</p>
              </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="admin-sidebar">
                <ul class="side-nav">
                    <li class="active"><a href="#">About Marketplace</a></li>
                    <li><a href="#">For media</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>