﻿@{
    ViewBag.Title = "Contact";
}

<script>
    
    $(function () {

        var form = $("#email-form");

        form.submit(function () {

            var emailData = {
                SenderName: $("#sender-name").val(),
                SenderAddress: $("#sender-email").val(),
                Message: $("#message").val(),
                Company: $("#sender-company").val(),
                Phone: $("#sender-phone").val()
            };

            var status_display = $('#statusArea');
            

            $.ajax({
                url: "/Home/SendMail",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                data: JSON.stringify(emailData),
                success: function (response) {
                    //alert(response);
                    status_display.text(response);

                    $('#sender-name').val("Full name *");
                    $('#sender-email').val("E-mail *");
                    $('#sender-phone').val("Phone");
                    $('#sender-company').val("Company name");
                    $('#message').val("Message *");
              
                },
                error: function () {
                    //alert("There was an error... please try again.");
                    status_display.text("There was an error... please try again.");
                }
            });

            return false;
        });
    });
   
</script>

<div class="page-wraper wraper">
    <div class="row">
        <div class="large-8 small-12 columns">
            <div class="page-content page-contact">
                <h2>@ViewBag.Title</h2>
                <p>Use contact form to send us a message.</p>
                <div id="form-container">
                    @using (Html.BeginForm("SendMail", "Home", FormMethod.Post, new { id = "email-form" }))
                    {
                        <div class="row">
                            <div class="large-6 columns">
                                <input type="text" placeholder="Full name *" name="SenderName" id="sender-name" required>
                            </div>
                            <div class="large-6 columns end">
                                <input type="email" placeholder="E-mail *" name="SenderEmail" id="sender-email" required>
                            </div>
                            <div class="large-6 columns">
                                <input type="text" placeholder="Phone" name="SenderPhone" id="sender-phone">
                            </div>
                            <div class="large-6 columns end">
                                <input type="text" placeholder="Company name" name="SenderCompany" id="sender-company">
                            </div>
                            <div class="large-12 columns mr30">
                                <textarea placeholder="Message *" rows="17" name="Message" id="message" required></textarea>
                            </div>
                        </div>
                        
                        <div class="row">                       
                            <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                <input type="submit" id="send-button" value="Send message" class="btn auto-btn second-btn register-btn" />
                            </div>
                        </div>                     
                    }
                    
                </div>
                <p id="statusArea" style="color:red"></p>
            </div>
        </div>
        <div class="small-12 large-4 columns">
            <div class="page-sidebar">
                <h3 class="content-subheader">Carestore Consortium</h3>
                <p>Vesterbro Torv 1-3, 4. sal
                <br />8000 Aarhus C.
               <br /> Denmark</p>
                <p>e-mail: morten@sekoia.dk <br> phone: +45 2639 0197</p>
                <h3 class="content-subheader">Carestore Developers</h3>
                <p>e-mail: developers@carestore.eu<br> phone: +45 2639 0197</p>
                <h3 class="content-subheader">Carestore Marketplace</h3>
                <p>e-mail: marketplace@carestore.eu<br> phone: +45 2639 0197</p>
            </div>
        </div>
    </div>
</div>