﻿@{
    ViewBag.Title = "Home Page";
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

        if(User.IsInRole("Admin")){
        
             @Html.Partial("_AdminDashboard")
        }else if(User.IsInRole("Vendor")){
        
             @Html.Partial("_VendorDashboard")
        }
        else if (User.IsInRole("Care Administrator"))
        {

            @Html.Partial("_ManagerDashboard")
        } 

}
else
{


<div class="home-intro wraper">
    <div class="row">
        <div class="large-8 columns large-centered text-center">
            <h2>Your online data center in healthcare domain</h2> <br /> <h1>I am looking for...</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-12 large-centered small-12 small-centered columns box-wraper">
            <ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1">
                <li>
                    <a href="@Url.Action("List", "Applications", null)" class="box-item">
                        <div class="box-item-header"><div class="sprite-app-icon"></div></div>
                        <div class="box-item-content"><h2>App</h2><p>120 so far</p></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("List", "Drivers", null)" class="box-item">
                        <div class="box-item-header"><div class="sprite-driver-icon"></div></div>
                        <div class="box-item-content"><h2>Driver</h2><p>882 wow, this is a lot</p></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("List", "Devices", null)" class="box-item">
                        <div class="box-item-header"><div class="sprite-device-icon"></div></div>
                        <div class="box-item-content"><h2>Device</h2><p>45 and this is not bad</p></div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("List", "Vendors", null)" class="box-item">
                        <div class="box-item-header"><div class="sprite-vendor-icon"></div></div>
                        <div class="box-item-content"><h2>Vendor</h2><p>14 and more every day</p></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-5 small-8 small-centered columns">
            <a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "community" })">
                <div class="row home-intro-info">
                    <div class="small-3 columns sprite-tellme-icon"></div>
                    <div class="small-9 columns text-right">
                        <h3>Tell me more about CareStore community</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="home-content wraper">
    <div class="row home-content-boxs">
        <a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "why" })">
            <div class="large-4 medium-4 columns text-center home-content-box">
                <div class="sprite-why-icon"></div>
                <h2>Why CareStore</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </a>
        <a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "how" })">
            <div class="large-4 medium-4 columns text-center home-content-box">
                <div class="sprite-how-icon"></div>
                <h2>How it works</h2>
                <p>Mauris aliquet arcu vel magna facilisis non tempus lectus, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </a>
        <a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "contribute" })">
            <div class="large-4 medium-4 columns text-center home-content-box">
                <div class="sprite-want-icon"></div>
                <h2>Want to contribute ?</h2>
                <p>Nulla vel mauris quis justo mollis iaculis vitae ac mi. Integer odio augue, faucibus et varius id, laoreet sed tortor. </p>
            </div>
        </a>
</div>
    <div class="row">
        <div class="large-5 medium-8 columns medium-centered">
            <a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "community" })" class="home-content-btn text-center">
                <h2>Join the Community Now!</h2>
                <p>Help us developing assisted living technologies</p>
            </a>
            <p class="text-center">Are you interested in learning how to <br> contribute to CareStore?</p>
        </div>
    </div>
</div>
    
    
    
}