﻿@model IEnumerable<CSMarketplace.Models.Platform>

@{
    ViewBag.Title = "Platforms List";
}






<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        
                    </div>
                </div>

                <div class="row">
                    <form id="FrmCheckout">

                        <div class="large-7 small-8 columns">

                            <input type="search" placeholder="@ViewBag.FilterWord" value="@ViewBag.CurrentFilter" id="search" name="search">

                        </div>
                        <div class="large-offset-1 large-4 small-4 columns">
                            <div class="row">
                                <a href="#" onclick="document.getElementById('FrmCheckout').submit()"><div class="sprite-search-icon small-5 columns"></div></a>

                            </div>
                        </div>


                    </form>
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="250">@Html.ActionLink("NAME", "AdminIndex", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th width="300">@Html.ActionLink("ORGANIZATION", "AdminIndex", new { sortOrder = ViewBag.OrganizationSortParm, currentFilter = ViewBag.CurrentFilter })   </th>
                                    <th width="350">GUID</th>
                                    <th width="75" class="text-center">CONFIG</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;

                                    <tr>
                                        <td class="text-center">@counter</td>
                                        <td>@Html.DisplayFor(modelItem => item.PlatformName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CareOrganization.OrganizationName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.PlatformGUID)</td>
                                        <td class="text-center action-column2">
                                            <a href="@Url.Action("GetConfigFile", "Platforms", new { str = item.PlatformGUID })"><div class="sprite-doc-icons-small"></div></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="columns large-12 text-right">

                        @{


                            int page_id = ViewBag.PageID;
                            int pagesqty = ViewBag.PagesQty;
                            int itemsqty = ViewBag.ItemsNo;


                            int prevIndex = ViewBag.PagePrevIndex;
                            int nextIndex = ViewBag.PageNextIndex;

                            int tempInt = 0;

                            if (pagesqty > 0)
                            {


                                <ul class="pagination right">

                                    @if (page_id > 1)
                                    {

                                        <li class="arrow">@Html.ActionLink("<< Prev", "AdminIndex", "Platforms", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = prevIndex }, null)</li>
                                    }

                                    @for (int pq = 1; pq <= pagesqty; pq++)
                                    {
                                        if (pq == page_id)
                                        {
                                            <li class="current">@Html.ActionLink(pq.ToString(), "AdminIndex", "Platforms", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = pq }, null)</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink(pq.ToString(), "AdminIndex", "Platforms", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = pq }, null)</li>
                                        }
                                    }



                                    @if (page_id < pagesqty)
                                    {
                                        <li class="arrow">@Html.ActionLink("Next >>", "AdminIndex", "Platforms", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = nextIndex }, null)</li>
                                    }
                                </ul>
                    <!-- <a href="#" class="btn second-btn small-btn">More</a> -->


                            }




                        }



                    </div>

                </div>
            </div>

        </div>

    </div>

</div>














