﻿@model CSMarketplace.Models.Platform

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Platform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlatformName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformMAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformMAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareAreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareAreaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlatformId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
