﻿@model CSMarketplace.Models.Platform

@{
    ViewBag.Title = "Edit Platform";
    ViewBag.GUID =  Model.PlatformGUID.ToString();
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PlatformId)
    @Html.HiddenFor(model => model.PlatformGUID)
    @Html.HiddenFor(model => model.PlatformOS)

    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title">
                        <div class="medium-8 columns page-submenu">
                            <h2>@ViewBag.Title</h2>

                        </div>
                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "Platforms", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>PLATFORM ID: </b> @ViewBag.GUID
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>DOWNLOAD CONFIGURATION FILE:</b> <a href="@Url.Action("GetConfigFile", "Platforms", new { str = @ViewBag.GUID })" class="btn third-btn tiny-btn nomargin">-></a>
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>NAME</b>
                                @Html.EditorFor(model => model.PlatformName)
                                @Html.ValidationMessageFor(model => model.PlatformName)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>MAC ADDRESS</b>
                                @Html.EditorFor(model => model.PlatformMAC)
                                @Html.ValidationMessageFor(model => model.PlatformMAC)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>LOCATION/AREA</b>
                                @Html.DropDownListFor(model => model.CareAreaId, ViewBag.Areas as SelectList, "-> Select Area")
                            </div>
                          
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Save changes" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}













