﻿@model IEnumerable<CSMarketplace.Models.Platform>

@{
    ViewBag.Title = "Platforms List";
}






<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        <a href="@Url.Action("Create", "Platforms", null)">NEW PLATFORM</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="340">NAME</th>
                                    <th width="350">GUID</th>
                                    <th width="75" class="text-center">CONFIG</th>
                                    <th width="107" class="text-center">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;

                                    <tr>
                                        <td class="text-center">@counter</td>
                                        <td>@Html.DisplayFor(modelItem => item.PlatformName)</td>
                                        <td> @Html.DisplayFor(modelItem => item.PlatformGUID)</td>
                                        <td class="text-center action-column2">
                                            <a href="@Url.Action("GetConfigFile", "Platforms", new { str = item.PlatformGUID })"><div class="sprite-doc-icons-small"></div></a>
                                        </td>
                                        <td class="text-center action-column">
                                            <a href="@Url.Action("Edit", "Platforms", new { id = item.PlatformId })" ><div class="sprite-edit-icon"></div></a>
                                            <a href="@Url.Action("Delete", "Platforms", new { id = item.PlatformId })"><div class="sprite-remove-icon"></div></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>














