﻿@model CSMarketplace.Models.Page

@{
    ViewBag.Title = "Create New Page";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="page-wraper wraper">
        <div class="row">
            <div class="small-12 columns">
                <div class="admin-content clr">
                    <div class="row content-title">
                        <div class="medium-8 columns page-submenu">
                            <h2>@ViewBag.Title</h2>
                        </div>

                        <div class="medium-4 columns">
                            <a href="@Url.Action("Index", "Pages", null)" class="right btn third-btn tiny-btn nomargin">back</a>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="large-12 columns end">
                                <br />
                            </div>
                            <div class="large-12 columns end">
                                <b>@Html.LabelFor(model => model.PageTag, new { @class = "form-control" })</b>
                                @Html.EditorFor(model => model.PageTag)
                                @Html.ValidationMessageFor(model => model.PageTag)
                            </div>
                            <div class="large-12 columns end">
                                <b>@Html.LabelFor(model => model.PageTitle, new { @class = "form-control" })</b>
                                @Html.EditorFor(model => model.PageTitle)
                                @Html.ValidationMessageFor(model => model.PageTitle)
                            </div>
                            <div class="large-12 columns end">
                                <b>@Html.LabelFor(model => model.PageSubTitle, new { @class = "form-control" })</b>
                                @Html.EditorFor(model => model.PageSubTitle)
                                @Html.ValidationMessageFor(model => model.PageSubTitle)
                            </div>
                            <div class="large-12 columns end">
                                <b>@Html.LabelFor(model => model.PageContent, new { @class = "form-control" })</b>
                                @Html.EditorFor(model => model.PageContent)
                                @Html.ValidationMessageFor(model => model.PageContent)
                            </div>
                            <div class="large-12 columns end">
                                <br />
                            </div>

                            <div class="row">
                                <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                    <input type="submit" class="btn auto-btn second-btn register-btn" value="Save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}












