﻿@model CSMarketplace.Models.Page

@{
    ViewBag.Title = "Display Page";
}





<div class="admin-wraper wraper">
    <div class="row">
        <div class="medium-8 small-12 columns">
            <div class="admin-content">
                <div class="content-title">
                    <h2>@Html.DisplayFor(model => model.PageTitle)</h2>
                    <h3 class="content-subheader">@Html.DisplayFor(model => model.PageSubTitle)</h3>
                </div>
                @Html.Raw(Model.PageContent) 
                </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="admin-sidebar">
                <ul class="side-nav">
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "why" })">WHY CARESTORE?</a></li>
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "how" })">HOW IT WORKS</a></li>
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "contribute" })">WANT TO CONTRIBUTE?</a></li>
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "community" })">COMMUNITY</a></li>
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "about" })">About Marketplace</a></li>
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "media" })">For media</a></li>
                    <li><a href="@Url.Action("DisplayPageTag", "Pages", new { tag = "help" })">Help center</a></li>
                    <li><a href="@Url.Action("Contact", "Home", null)">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

