﻿@model CSMarketplace.Models.Page

@{
    ViewBag.Title = "Display Page";
}





<div class="admin-wraper wraper">
    <div class="row">
        <div class="medium-8 small-12 columns">
            <div class="admin-content">
                <div class="content-title">
                    <h2>@Html.DisplayFor(model => model.PageTitle)</h2>
                    <h3 class="content-subheader">If you're looking for an open platform & marketplace you have found it.</h3>
                </div>
                @Html.Raw(Model.PageContent) 
                </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="admin-sidebar">
                <ul class="side-nav">
                    <li class="active"><a href="#">About Marketplace</a></li>
                    <li><a href="#">For media</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

