﻿@model IEnumerable<CSMarketplace.Models.Page>

@{
    ViewBag.Title = "Pages";
}


<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>Pages list</h2>
                        <a href="@Url.Action("Create", "Pages", null)">NEW PAGE</a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>
                                    <th class="text-center" width="50">#</th>
                                    <th width="400">@Html.DisplayNameFor(model => model.PageTitle)</th>
                                    <th width="250">@Html.DisplayNameFor(model => model.PageTag)</th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    
                                    var counter = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    counter++;
                                    
                                    
                                    <tr>
                                        <td class="text-center">@counter</td>
                                        <td>@Html.DisplayFor(modelItem => item.PageTitle)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PageTag)</td>
                                        <td class="text-center action-column">
                                            <a href="@Url.Action("Edit", "Pages", new { id = item.PageId })"><div class="sprite-edit-icon"></div></a>
                                            <a href="@Url.Action("Delete", "Pages", new { id = item.PageId })"><div class="sprite-remove-icon"></div></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

