﻿@model CSMarketplace.Models.DeviceEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Device.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Device.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceEntityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceEntityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceEntityMAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceEntityMAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceEntityPairingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceEntityPairingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceEntityNFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceEntityNFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceEntityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
