﻿@model IEnumerable<CSMarketplace.Models.DeviceEntity>

@{
    ViewBag.Title = "Devices Identification List";
    int device_id = ViewBag.DeviceID;
}


<div class="admin-wraper wraper">
    <div class="row">
        <div class="small-12 columns">
            <div class="admin-content clr">
                <div class="row content-title">
                    <div class="medium-8 columns page-submenu">
                        <h2>@ViewBag.Title</h2>
                        <p>Add NFC code or MAC address of a device</p>                        
                    </div>
                    <div class="medium-4 columns">
                        <a href="@Url.Action("Edit", "Devices", new { id = device_id }, null)" class="right btn third-btn tiny-btn nomargin">back</a>
                    </div>
                </div>

                <div class="row">

                    
                        @using (Html.BeginForm("AddNFC", "DeviceEntities", new { device_id = @ViewBag.DeviceID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="small-12 columns">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)


                                <div class="large-12 columns end">
                                    <b>1) NFC CODE (*):</b>
                                    <input class="text-box single-line" id="NFCCode" name="NFCCode" type="text" />
                                </div>
                                <div class="large-12 columns end">
                                    <b>2.A) MAC ADDRESS (*):</b>
                                    <input class="text-box single-line" id="MACCode" name="MACCode" type="text" />
                                </div>
                                <div class="large-12 columns end">
                                    <b>2.B) PAIRING CODE:</b>
                                    <input class="text-box single-line" id="PAIRCode" name="PAIRCode" type="text" />
                                </div>
                                <div class="large-12 columns end">
                                    <br />
                                    @{
                                        
                                            var error_string = "";

                                            if (ViewBag.Error == 1)
                                            {
                                                error_string = "Fill in mandatory fields (*)";
                                            }
                                            else if (ViewBag.Error == 2)
                                            {
                                                error_string = "NFC code already exists";
                                            }
                                            else if (ViewBag.Error == 3)
                                            {
                                                error_string = "MAC address already exists";
                                            }
                                        
                                    }
                                    <i>@error_string</i>
                                </div>
                                <div class="row">
                                    <div class="large-4 medium-6 medium-push-6 large-push-8 columns">
                                        <input type="submit" class="btn auto-btn second-btn register-btn" value="Add new code" />
                                    </div>
                                </div>

                            </div>
                        }
                            
                    <div class="small-12 columns">
                        <table rules="all" class="table-apps-list">
                            <thead>
                                <tr>

                                    <th class="text-center" width="50">#</th>
                                    <th width="300">NFC code</th>
                                    <th width="300">MAC address</th>
                                    <th width="200">Pairing code</th>
                                    <th width="200" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                                var counter = 0;
                                }
                                @foreach (var item in Model)
                                            {
                                                counter++;

                                    <tr>

                                        <td>@counter</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceEntityNFC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceEntityMAC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeviceEntityPairingCode)
                                        </td>
                                        <td class="text-center action-column">
                                            <a href="@Url.Action("Delete", "DeviceEntities", new { de_id = item.DeviceEntityId, device_id = device_id })" ><div class="sprite-remove-icon"></div></a>
                                        </td>
                                    </tr>
                                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>













